{%extends "base.html" %}

{% block content %}
	<nav>
		<div class="row">
			<div class="span8 offset1">
				<h1>Change Your Password</h1>
				<form class="form-horizontal" action='' method='post' name='changePassword'>
					{{ form.hidden_tag() }}
					<p>
						<p style='display:inline; font-weight:bold;'>Please enter your login information:</p><br><br>
						{{ form.email.label }}
						{{ form.email(size=120) }}<br><br>
						{% for error in form.email.errors %}
							<span style='color: red;'>[{{ error }}]</span><br>
						{% endfor %}
						{{ form.old_password.label }}
						{{ form.old_password(size=54) }}<br><br>
						{% for error in form.old_password.errors %}
							<span style='color: red;'>[{{ error }}]</span><br>
						{% endfor %}
						{{ form.new_password.label }}
						{{ form.new_password(size=54) }}<br><br>
						{% for error in form.new_password.errors %}
							<span style='color: red;'>[{{ error }}]</span><br>
						{% endfor %}
						{{ form.confirm.label }}
						{{ form.confirm(size=54) }}<br>
						{% for error in form.confirm.errors %}
							<span style='color: red;'>[{{ error }}]</span><br>
						{% endfor %}
					</p>
					<p><button type='submit' class="btn">Submit</button></p>
				</form>
			</div>
		</div>
	</nav>
{% endblock %}