<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div class="container" valing="top" >
		<div class="row">
			<div class="span2">
				<img src="{{ url_for('uploaded', filename=user.location) }}" height='128px'>
			</div>
			<div class="span4">
				<h1>User: {{ user.nickname }}</h1>
              	{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
              	{% if user.last_seen %}<p><i>Last seen on: {{ user.last_seen }}</i></p>{% endif %}
              	<p>{{ user.followers.count() }} followers | 
              	{% if user.id == g.user.id %}
                  <a href="{{ url_for('edit') }}">Edit your profile</a><br>
                  <a href="{{ url_for('password') }}">Change Password</a><br>
                  <a href="{{ url_for('upload') }}">Change Profile Picture</a>
              	{% elif not g.user.is_following(user) %}
                  <a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
              	{% else %}
                  <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
              	{% endif %}

              	</p>
			</div>
		</div>
	</div>
	<br>
	<h3>Your Tweets:</h3>
	<hr>
	<div id='tweetBox' class="user-{{user.id}}")></div>
	<script type="text/jsx" src="/static/js/helloworld.js"></script>
	<div class="pagination">
		<ul>
			<li>{% if posts.has_prev %}<a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">Prev </a>{% else %} <a>Prev</a> {% endif %}</li>
			<li>{% if posts.has_next %}<a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Next</a>{% else %} <a>Next</a>{% endif %}</li>
		</ul>
	</div>
{% endblock %}
